<div class="container">
    <form class="form-signin" ng-submit="register.regUser(regData)">
        <h2 class="form-signin-heading">User Registration</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input  type="email" id="inputEmail" class="form-control" placeholder="Email address" name ="email" ng-model="register.regData.email" required autofocus>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="username" id="inputUsername" class="form-control" placeholder="Username" name ="username" ng-model="register.regData.username" required autofocus>
            <label  for="inputPassword" class="sr-only">Password</label>
            <input  type="password" id="inputPassword" class="form-control" placeholder="Password" name ="password" ng-model="register.regData.password" required>
            <!-- <div class="checkbox">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <span class="glyphicon glyphicon-comment"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <br>
    
    <div class="jumbotron text-center" ng-show="register.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>loading...</p>
    </div>
    
    <br>
    
    <div class="row show-hide-message text-center" ng-show="register.successMsg">
        <div class="alert alert-success">{{ register.successMsg }}</div>
    </div>
    
    <br>
    
    <div class="row text-center show-hide-message " ng-show="register.errorMsg">
        <div class="alert alert-danger"> {{ register.errorMsg }}</div>
    

    </div>
    

</div> <!-- /container -->
        
        